/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  margin-bottom: 100px;
}

.promo__image {
  background-image: url("/images/promoimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.promo {
  text-align: center;
}

//////////////////////////////////////////////////////////// x Layout /////////////////////////////////////////////////////////////////////

$primaryTextBlue: #0a2554;
$secondryTextGrey: #666666;
$buttonTeel: #42c3af;

.theme {
  @media (max-width: 576px) {
    .promo__image {
      height: 200px;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .promo__image {
      height: 300px;
    }
  }

  @media (min-width: 767px) {
    .promo__image {
      height: 400px;
    }
  }

  .promo {
    .promo__title {
      color: $primaryTextBlue;
    }

    .promo__description {
      color: $secondryTextGrey;
    }

    .promo__button {
      background-color: $buttonTeel;
      border: none;
      color: white;
      padding: 10px 40px;
      margin-right: 30px;
      border-radius: 3px;
      font-size: 1.25em;
    }

    @media (max-width: 576px) {
      .promo__button {
        padding: 8px 20px;
        font-size: 1em;
      }
    }

    .promo__seeMore {
      color: $primaryTextBlue;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 3px;
      text-decoration-color: $buttonTeel;
    }
  }
}

//////////////////////////////////////////////////////////// y Layout /////////////////////////////////////////////////////////////////////

.theme {
}

//////////////////////////////////////////////////////////// z Layout /////////////////////////////////////////////////////////////////////

.theme {
}
