/* Global styles
------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  margin-bottom: 100px; }

.promo__image {
  background-image: url("/images/promoimage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; }

.promo__title {
  color: #0a2554; }

.promo__description {
  color: #666666; }

.promo__button {
  background-color: #42c3af;
  border: none;
  color: white;
  padding: 10px 40px;
  margin-right: 30px;
  border-radius: 3px;
  font-size: 1.25em; }

@media (max-width: 576px) {
  .promo__button {
    padding: 8px 20px;
    font-size: 1em; } }

.promo__seeMore {
  color: #0a2554; }
  .promo__seeMore:hover, .promo__seeMore:focus {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    text-decoration-color: #42c3af; }

@media (max-width: 576px) {
  .theme--x .promo__image {
    height: 200px; } }

@media (min-width: 577px) and (max-width: 768px) {
  .theme--x .promo__image {
    height: 300px; } }

@media (min-width: 767px) {
  .theme--x .promo__image {
    height: 400px; } }

.theme--x .promo {
  text-align: center; }

.theme--y .promo__image {
  margin: 24px 0px; }

@media (max-width: 576px) {
  .theme--y .promo__image {
    height: 200px;
    margin: 0px; } }

.theme--y .promo {
  text-align: left;
  margin-bottom: 124px; }

.theme--z .promo {
  text-align: left; }

@media (max-width: 576px) {
  .theme--z .promo {
    text-align: center; } }
